#perm-alert { background:#CCCCCC; display: none; position: absolute; top: 5%; left: 80%; width: 15%; height: 400px; }
#perm-alert span { font-weight:bold; font-size:1.1em; display:block; float:left; margin: 5px; }
#perm-alert img { display:block; float: right; }
#perm-alert-div { height:8%; }
#perm-alert-message { display:block; width: 100%; font-size:0.9em; overflow-y:auto; border-top: solid 2px black; height:92%; }

.lead-top {
	margin-top: 1em;
}

.navbar {
	border-radius: 0;
}

.navbar-inverse .navbar-brand-active {
	color: #fff;
}

#bb-info { display: none; }
#bb-info.high { font-weight: bolder; }
#bb-info.normal { }

.bb-code {
	font-family: "Courier";
	font-size: 1em;
}

#printframe { display: none; }

.bb-code-string {
	color: #3276b1;
}

.code-leader {
	font-weight: bold;
}

.bb-code-small {
	font-size: 0.9em;
}

.bb-alert {
	position: fixed;
	bottom: 25%;
	right: 0;
	margin-bottom: 0;
	font-size: 1em;
	padding: 1em 1.1em;
	z-index: 2000;
}

#gist6327194, #gist6339916 {
	height: 300px;
	overflow: auto;
}

#gist6339780 {
	height: 600px;
	overflow: auto;
}

.progress-box {
	height: 40px;
	width: 300px;
	position: relative;
	float: left;
	margin: 15px;
	overflow:hidden;
	border: 0px solid black;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display:none;
}
.progress-left { float:left; height:40px; left:0px; top:0px; width:0%; background-color:#FF9933; z-index:50; }
.progress-right { float:right; height:40px; right:0px; top:0px; width:100%; background-color:#DDDDDD; z-index:50; }
.progress-text { position:absolute; left:20px; top:8px; z-index:100;
	font-weight: bold;
	font-size: 1em;
	/*text-shadow: 1px 1px 0 #fff;*/
	color: #3276b1;
}

.progress {
	height:100px;
	width:auto;
	overflow:auto;
	border:1px solid blue;
	display:none;
}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
}

#trjs { width: 300px; height: 600px; padding: 0.5em; overflow:auto; display:none; }
